<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>multiupload</name>
	<displayName><![CDATA[Images Multi Upload]]></displayName>
	<version><![CDATA[0.1.1]]></version>
	<description><![CDATA[Upload multiple images from admin product tab.]]></description>
	<author><![CDATA[Wagood]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>